html,
body {
   margin: 0;
   padding: 0;
   font-family: 'Darker Grotesque';
}

body {
   width: 100%;
   height: auto;
   background: #f2f2f2;
}

a {
   text-decoration: none;
}

.pace {
   position: fixed;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 800px;
   border: 0px;
   height: 1px;
   background: #1b1b1b;
   overflow: hidden;
   pointer-events: none;
   user-select: none;
   z-index: 30;
}

.pace .pace-progress {
   position: absolute;
   display: block;
   top: 0;
   right: 100%;
   width: 100%;
   height: 100%;
   max-width: 800px;
   background: grey;
   transform: translate3d(0, 0, 0);
   box-sizing: border-box;
   z-index: 30;
}

.pace.pace-inactive {
   display: none;
}

#preloader {
   position: fixed;
   width: 100%;
   height: 100vh;
   background: #101010;
   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
   overflow: hidden;
   z-index: 20;
}

.p-tagline {
   position: absolute;
   top: 43%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 2.5em;
   font-family: 'Monument Extended';
   color: #fff;
   z-index: 20;
}

.navigation {
   position: fixed;
   width: 100%;
   height: 60px;
   background: #000;
   top: 0;
   transition: top 400ms ease-in-out;
   z-index: 10;
}

.navigation .logo span {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   line-height: 55px;
}

.navigation .logo span > a {
   font-size: 2.3em;
   font-family: 'Darker Grotesque';
   text-transform: uppercase;
   font-weight: 600;
   color: #fff;
}

@media(max-width: 900px) {
   .pace {
      width: 290px;
   }

   .pace .pace-progress {
      max-width: 290px;
   }

   .p-tagline {
      top: 46%;
      font-size: 1.3em;
   }
   
   .navigation span > a {
      font-size: 1.7em;
   }
}